@using Fmovies.ViewModels
@using Fmovies.Models
@model Fmovies.ViewModels.MoviesViewModel

@{
    ViewBag.Title = "Movies";
}
@Html.Action("UserCartCheck", "Cart");
<div class="d-flex flex-wrap justify-content-around">
    @if (!Model.movies.Any())
    {
        <p>No movies yet!</p>
    }
    else
    {
        int i = 0;
        foreach (var m in Model.movies)
        {
            <div style="width: 30%" class="p-2">
                <div class="card movieCard">
                    <div class="card-header" style="margin: 0 auto">
                        <img src="@m.URL" style="width: 100%" />
                    </div>
                    <div class="card-title p-2">
                        <div class="clearfix">
                            <span>@m.movieName</span>
                            @Ajax.ActionLink("Add to cart", "AddToCart", "Cart",
                           new { selectedId = m.movieId },
                           new AjaxOptions()
                           {
                               HttpMethod = "GET"
                           },
                           new
                            {
                                @class = "btn btn-warning cartbtn float-right",
                                @data_btnchecked = "false"
                           }
                           )
                        </div>
                        <p>Price: @m.moviePrice</p>
                        @{
                            var gname = Model.genres.SingleOrDefault(g => g.genreId.Equals(m.genreId));
                            <p>Genre: @gname.genreName</p>
                        }
                    </div>
                </div>
            </div>
            i++;
        }
    }
</div>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                @*<input type="submit" value="Proceed to Checkout" class="btn btn-primary" />*@
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".cartbtn").on("click", function () {
                if ($(this).attr("data-btnchecked") == "false") {
                    $(this).html("<span class ='fa fa-check'></span> Added");
                    $(this).attr("data-btnchecked", "true");
                }
                else {
                    $(this).attr("data-btnchecked", "false");
                    $(this).html("Add to cart");
                }
            });
        });

    </script>

}
